
/*------------ general ------------*/
html {
    scroll-behavior: smooth;
    letter-spacing: .8;
  }
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;   
    background-color:  rgb(253,253,253);
    padding: 0;
    margin: 0;  
   color:  black;
   
}






/*------------ nav ------------*/

.sidenav {

    height:100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    color: #b1b0b0;
    
    background: #222629  url('../images/overlay.png');
    
    }

.navlink {
    margin-left: 35px;
    text-decoration: none;
    font-size: 17px;
    color: #b1b0b0;
    display: block;
    }
    
    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
    color: #f1f1f1;
    }
.menu-divide {
    width: 85%;
    background-color:rgb(47, 47, 47);
    
    height:1px;
    border-width: 0px;

}

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;

    border-radius: 5px;
   
}
.data-struct-nav {
    margin-bottom: 20px;
}
.subtitle {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 18px;
    margin-bottom:15px;
    margin-top: 10px;
}



/*------------ box------------*/
.box {
    min-height: 200px;
    padding: 2px 20px;
    /* background-color: rgb(235, 235, 235);*/
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204) ;
    margin-bottom: 18px;
    border-radius: 10px;
}
.content {
    margin-left: 300px  ;
}

.data-title { 
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
    color:black;
    font-family: Optima,sans-serif;
}

.container {
    width: 92%;
    margin: auto;
    overflow: hidden;
   
}
.code-block {
    background: #222629  url('../images/overlay.png');
    font-family: monospace;
    color: rgb(43, 230, 43);
    padding: 15px;
    border-radius: 5px;
    margin: 20px 5px;
    border: 1px solid black;
    overflow:auto;
    
    
}
.note {
    padding-bottom: 5px;
}

.comment {
    color: white;
}

@media (max-width: 1000px){
    .sidenav {
        width: 200px;
    }
    .title {
        font-size: 12px;
    }
    .content{
        margin-left: 200px;
    }
    .code-block {
        font-size: 10px;
        overflow: auto;
    }
    .box {
        font-size: 10px;
    }
    .sidenav a {
        font-size: 12px;
    }
    .subtitle {
        font-size: 14px;
    }
}